@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width: 1025px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) and (max-width: 1399px) {
            @content;
        }
    }
    @else if $breakpoint == "xlg" {
        @media (min-width: 1400px) and (max-width: 1599px) {
            @content;
        }
    }
    @else if $breakpoint == "xxlg" {
        @media (min-width: 1600px) and (max-width: 1899px) {
            @content;
        }
    }
    @else if $breakpoint == "xxxlg" {
        @media (min-width: 1900px) {
            @content;
        }
    }
}

$primary-color: #121212; // dark grey
$secondary-color: #BADA55; // light green
$third-color: #343434; //light grey
$body-color: #E7E7E7;
$color-white: #ffffff;
$color-black: #000000;


* {
margin: 0;
padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body
{
  background-color: $third-color !important;
  color: $color-white !important;
}

html, body {
  height: 100%;
}

nav.connect-sidebar {
  margin: 0 !important;
}

div.avail-dropdown {
  float: right;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}

select.avail-select {
  width: 40px;
  background-color: transparent;
  border: none;
  color: $color-white;
}

div.status {
  height: 15px;
  width: 15px;
  background-color: #959f16;
  border-radius: 50%;
  margin-right: 5px;
}

div.row-date-availability {
  margin-top: 30px;
}

#calendar {
  width: 100%;
	margin: 0 auto;
}
