@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width: 1025px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) and (max-width: 1399px) {
            @content;
        }
    }
    @else if $breakpoint == "xlg" {
        @media (min-width: 1400px) and (max-width: 1599px) {
            @content;
        }
    }
    @else if $breakpoint == "xxlg" {
        @media (min-width: 1600px) and (max-width: 1899px) {
            @content;
        }
    }
    @else if $breakpoint == "xxxlg" {
        @media (min-width: 1900px) {
            @content;
        }
    }
}

/* Vertical align mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$primary-color: #121212; // dark grey
$secondary-color: #BADA55; // light green
$third-color: #343434; //light grey
$color-lblue: #00BCD4; // light blue
$body-color: #E7E7E7;
$color-white: #ffffff;
$color-black: #000000;


* {
margin: 0;
padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body
{
  background-color: $third-color !important;
  color: $color-white !important;
}

html, body {
  height: 100%;
}

nav.connect-sidebar {
  margin: 0 !important;
}

.calendar-controls {
  height: 50px !important;
  background: $primary-color;
  border: 1px solid $color-white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: -10px;
  margin-left: 20px;
  margin-top: 100px;
  @include respond-to(xs) {
    background: transparent;
    border: none;
  }
  /* ipad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    background: transparent;
    border: none;
  }
}

button.custom-current {
  background: transparent !important;
  color: $color-white;
  border-color: $color-lblue;
  font-size: 16px;
  font-weight: 700;
  @include respond-to(xs) {
    font-size: 14px;
  }
}

button.custom-current:hover {
  color: $color-lblue !important;
  background: $color-white !important;
  border: 1px solid $color-lblue;
}

button.custom-current:focus {
  outline: none;
}

div.col-date {
  font-size: 28px;
  @include respond-to(xs) {
    font-size: 18px;
  }
}

select.avail-select {
  background: transparent;
  float: right;
  font-size: 20px;
  border: none;
}

select.avail-select:focus {
  outline: none;
}

select.month-select {
  width: 50%;
  float: left;
  font-size: 30px;
  margin: 20px 20px 0px 0px;
  background-color: transparent;
  border: none;
}

select.month-select:focus {
  outline: none;
}

button.circle-more {
  height: 70px;
  width: 70px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  line-height: 60px;
  background: transparent;
  border: 3px solid $color-white;
}

button.circle-more:focus {
  outline: none;
}

button.circle-more:hover {
  border: 3px solid $secondary-color;
}

.custom-month {
  font-size: 24px;
  font-weight: 700;
  color: $color-white;
  position: relative !important;
  top: 5% !important;
  transform: translateY(-50%) !important;
  @include respond-to(xs) {
    top: 20% !important;
    font-size: 16px;
  }
}

.custom-year {
  font-size: 24px;
  font-weight: 700;
  color: $color-white;
  position: relative !important;
  top: 5% !important;
  transform: translateY(-50%) !important;
  @include respond-to(xs) {
    top: 20% !important;
    font-size: 16px;
  }
}
.custom-prev {
  float: left;
  font-size: 22px !important;
  background: transparent;
  color: $color-white;
  cursor: pointer;
  margin-left: 2%;
  position: relative !important;
  @include respond-to(xs) {
    top: 2%;
    font-size: 14px;
  }
}

.custom-prev:hover {
  background: transparent !important;
  color: $color-white !important;
  text-decoration: none !important;
}

.custom-prev:focus {
  color: $color-white !important;
  outline: none;
}

.custom-next {
  float: right;
  font-size: 22px !important;
  background: transparent;
  color: $color-white;
  cursor: pointer;
  margin-right: 2%;
  position: relative !important;
  @include respond-to(xs) {
    top: 2%;
    font-size: 14px;
  }
}

.custom-next:hover {
  background: transparent !important;
  color: $color-white !important;
  text-decoration: none !important;
}

.custom-next:focus {
  color: $color-white !important;
  outline: none;
}

.fc-month-year {
  height: 10% !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: $primary-color !important;
  color: $color-white;
}

.fc-row:nth-last-child(1) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @include respond-to(xs) {
    margin-bottom: 70px;
  }
  @include respond-to(sm) {
    margin-bottom: 80px;
  }
}

@import url('parent-calendar.css');

.fc-calendar-container {
	position: relative;
	height: 600px;
	width: 740px;
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

.fc-calendar .fc-head {
	height: 30px;
	line-height: 30px;
	background: transparent;
	color: $color-white;
  border: 1px solid $color-white;
}

.fc-calendar .fc-head div {
	border-right: 1px solid $color-white;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
	border: 1px solid $color-white;
}

.fc-calendar .fc-row {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: calc(100%/6);
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7);
	position: relative;
}

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width:  14.2%;
}

.fc-calendar .fc-row > div {
	border-right: 1px solid $color-white;
	padding: 4px;
	overflow: hidden;
	position: relative;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div > span.fc-date {
	position: absolute;
	width: 30px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	font-weight: lighter;
	color: $color-white;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
	top: 5px;
	right: 5px;
	text-align: right;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: $secondary-color;
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
	border-right: none;
}

.fc-calendar .fc-row:last-child {

}
