* {
  margin: 0;
  padding: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #343434 !important;
  color: #ffffff !important; }

html, body {
  height: 100%; }

nav.connect-sidebar {
  margin: 0 !important; }

.form-control:focus {
  box-shadow: none !important; }

div.sidebar-menu {
  height: 863px;
  background-color: #121212;
  border: none; }

div.menu-items ul {
  list-style: none; }

div.menu-items ul li.menu-team {
  display: inline-flex;
  align-items: center;
  margin-top: 30px; }

div.menu-items ul li select.select-team {
  width: 40px;
  color: #ffffff;
  background-color: transparent;
  border: none; }

div.row-add-trivia {
  color: #959f16;
  align-items: center;
  font-size: 22px; }

div.row-add-prizes {
  color: #959f16;
  align-items: center;
  font-size: 22px; }

div.row-input-easyset {
  margin-bottom: 10px; }

div.row-option-1 {
  margin-top: 15px; }

div.row-option-2 {
  margin-top: 10px; }

div.row-inputquestion-1 {
  margin-bottom: 5px; }

ul.select-trivia {
  background-color: transparent;
  color: #ffffff;
  margin-left: -10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  width: 25%; }

select.select-sponsor {
  background-color: transparent;
  color: #ffffff;
  margin-left: -10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px; }

select.select-prize {
  background-color: transparent;
  color: #ffffff;
  margin-left: -10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px; }

select.select-prizelevel {
  background-color: transparent;
  color: #ffffff;
  margin-left: -10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px; }

div.menu-items ul li h1 img.img-lakers {
  height: 35px; }

div.menu-items ul li a {
  color: #ffffff !important;
  text-decoration: none; }

div.menu-items ul li a h3 {
  margin-left: 100px;
  margin-bottom: 40px; }

div.menu-items ul li a h4 {
  margin-left: 125px; }

div.container-event {
  margin-left: 50px; }

div.row-create-event {
  margin-top: 30px; }

div.row-event-name {
  margin-bottom: 20px; }

div.row-trivia-dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

div.row-trivia-dropdown ul {
  list-style: none; }

div.row-home-away {
  margin-bottom: 20px; }

div.row-event-time {
  margin-bottom: 20px; }

i.icon-down {
  position: absolute;
  right: 535px;
  top: 160px;
  cursor: pointer; }

i.icon-delete {
  float: left; }

.modal-header {
  border-bottom: none !important; }

.modal-body {
  color: #121212 !important; }

.modal-footer {
  border-top: 0px !important; }

.modal-content {
  border-radius: 0px !important; }

.modal-title {
  color: #121212 !important; }

table.dropdown-menu {
  width: 35%;
  position: absolute;
  top: 185px;
  left: 80px;
  border-radius: 0px; }

table.dropdown-menu thead {
  background-color: #121212; }

table.dropdown-menu tbody {
  color: #121212; }

input.input-trivia {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px; }

input.input-set-trivia {
  float: left;
  width: 60%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #000000; }

input.input-question-1 {
  float: left;
  width: 60%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #000000; }

input.input-nba {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-nba-home {
  display: flex;
  align-items: flex-start;
  margin-left: -15px;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-nba-away {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-event-name {
  display: flex;
  width: 503px;
  align-items: flex-start;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-event-time {
  display: flex;
  align-items: flex-start;
  margin-left: -15px;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-event-date {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-event-sponsor {
  display: flex;
  align-items: flex-start;
  margin-left: -15px;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-event-prize {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-event-prizelevel {
  display: flex;
  align-items: flex-start;
  margin-left: 35px;
  font-size: 20px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #ffffff; }

input.input-difficulty {
  width: 120px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #000000; }

input.input-scramble {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #000000; }

input.input-option-1 {
  width: 315px;
  float: left;
  margin-left: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #000000; }

input.input-option-2 {
  width: 315px;
  float: left;
  margin-left: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1.5px solid #000000; }

input.cbox-option-1 {
  float: left !important;
  margin-left: 10px !important; }

input.cbox-option-2 {
  float: left !important;
  margin-left: 10px !important; }

[type="checkbox"]:not(:checked) {
  border: 1px solid #121212;
  background-color: #ffffff; }

input[type=checkbox] {
  border: 1px solid #121212; }

input#cbox-option-1[type=checkbox]:checked {
  background-color: #BADA55 !important; }

label.text-home {
  margin-left: -15px; }

label.text-away {
  margin-left: 10px; }

label.text-event-time {
  margin-left: -15px; }

label.text-event-date {
  margin-left: 10px; }

label.text-event-sponsor {
  margin-left: -15px; }

label.text-trivia-setname {
  float: left;
  font-size: 14px; }

label.text-event-prize {
  margin-left: 10px; }

label.text-event-prizelevel {
  margin-left: 35px; }

label.text-difficulty {
  font-size: 14px;
  float: left; }

label.text-scramble {
  font-size: 14px;
  margin-left: 20px; }

label.text-question-1 {
  float: left; }

label.text-option-1 {
  float: left;
  margin-left: 25px; }

label.text-option-2 {
  float: left;
  margin-left: 25px; }

label.text-correct-answer {
  float: left;
  margin-left: 10px;
  font-size: 14px;
  color: #BADA55; }

span.icon-pencil-league {
  float: right;
  margin-right: 455px;
  margin-top: -45px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #BADA55; }

span.icon-pencil-eventname {
  float: right;
  margin-right: 196px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #BADA55; }

span.icon-pencil-home {
  float: right;
  margin-right: -25nhGpx;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #BADA55; }

span.icon-pencil-away {
  float: right;
  margin-right: -50px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #BADA55; }

span.icon-pencil-sponsor {
  float: right;
  margin-right: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #BADA55; }

span.icon-pencil-prize {
  float: right;
  margin-right: -50px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #BADA55; }

span.icon-pencil-prizelevel {
  float: right;
  margin-right: -75px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #BADA55; }

button.button-done {
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 40px;
  width: 40%;
  height: 50px;
  background-color: #949f15;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold; }

button.button-done:hover {
  border: 1px solid #BADA55; }

button.event-confirm {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 40%;
  height: 50px;
  background-color: #BADA55;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold; }

button.event-next {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold; }

button.event-next:hover {
  border-color: #BADA55; }

button.event-next:hover a {
  color: #BADA55; }

button.event-next a {
  color: #ffffff; }

button.event-next a:hover {
  color: #BADA55;
  border-color: #BADA55;
  text-decoration: none; }

ul.event-road-map {
  display: inline-flex;
  list-style: none;
  font-size: 18px; }

div ul li a.event-roadmap-3 {
  color: #ffffff !important; }

div a.a-create-trivia {
  color: #BADA55 !important; }

div a.a-create-trivia:focus {
  text-decoration: none; }

div a.a-create-trivia:hover {
  text-decoration: none; }

/*# sourceMappingURL=create-event.css.map */
