@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}


@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width: 1025px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) and (max-width: 1399px) {
            @content;
        }
    }
    @else if $breakpoint == "xlg" {
        @media (min-width: 1400px) and (max-width: 1599px) {
            @content;
        }
    }
    @else if $breakpoint == "xxlg" {
        @media (min-width: 1600px) and (max-width: 1899px) {
            @content;
        }
    }
    @else if $breakpoint == "xxxlg" {
        @media (min-width: 1900px) {
            @content;
        }
    }
}

$primary-color: #121212; // dark grey
$secondary-color: #BADA55; // light green
$third-color: #343434; //light grey
$body-color: #E7E7E7;
$color-white: #ffffff;
$color-black: #000000;

$button-bordercolor: #8BC34A;


$form-width: 575px;
$form-height: 750px;


* {
margin: 0;
padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body
{
  background-color: $third-color !important;
  color: $color-white !important;
}

html, body {
  height: 100%;
}

nav
{
  background-color: $primary-color;
  border-radius: 0px 0px 0px 0px !important;
}

.fp-menu {
  float: right !important;
  @include respond-to(xs) {
    float: left !important;
    margin-left: 10px !important;
  }
}

li a
{
  color: $secondary-color !important;
}

li a:hover
{
  background-color: $primary-color !important;
  color: $color-white !important;
}

.box {
  padding: 40px 0 50px 0;
}

.form-box {
  height: 735px;
  padding: 25px 25px 30px 25px;
  text-align: center;
	background-color: #121212;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
  border-radius: 10px;
	text-align: left;
  @include respond-to(xs){
    width: 300px;
  }
  /* iphone5 landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    margin-top: -52px;
    margin-bottom: -42px;
    margin-left: 65px;
    width: 400px;
    height: 188px;
  }
  /* iphone5 portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-top: -52px;
    margin-bottom: -42px;
    margin-left: 5px;
    width: 280px;
    height: 420px;
  }
  /* iphone6 portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    height: 480px;
    margin-left: 30px;
    margin-top: -35px;
  }
  /* iphone6 landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    width: 580px;
    height: 210px;
    margin-top: -45px;
    margin-left: 26px;
    margin-bottom: -60px;
  }
  /* iphone6 plus(+) portrait */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    height: 540px;
    width: 310px;
    margin-left: 40px;
    margin-top: -30px;
  }
  /* iphone6 plus(+) landscape */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 240px;
    width: 650px;
    margin-top: -40px;
    margin-bottom: -30px;
    margin-left: 30px;
  }
  /* Nexus 7 Portrait */
  @media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332)
  and (orientation: portrait) {
    height: 780px;
    width: 480px;
    margin-left: 40px;
    margin-top: -35px;
  }
  /* iPad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    height: 800px;
    width: 580px;
    margin-left: -125px;
    margin-top: -25px;
  }
  /* iPad Landscape */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    height: 535px;
    width: 700px;
    margin-top: -20px;
    margin-left: -130px;
  }
}

label, input::-webkit-input-placeholder, button {
  transition: all 0.3s ease-in-out;
}

.fp-logo-div {
  margin: auto;
  width: 50%;
  margin-bottom: 100px;
  @include respond-to(xs) {

  }
  /* iphone5 portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-bottom: 75px;
  }

}

.form-email-grp {
  margin: auto;
  width: 85%;
}

.form-pwd-grp {
  margin: auto;
  width: 85%;
}

.form-login-btn-grp {
  margin: auto;
  width: 60%;
}

.form-no-acct-grp {
  text-align: center;
}


input.input-username {
  width: 100%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color-white;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color-white 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  margin-top: -10px;
  font-size: 35px;
  color: darken($color-white, 50%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color-white;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
  @include respond-to(xs) {
    font-size: 20px;
  }
  // iphone5 landscape
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 16px;
  }
  /* iphone5 portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 18px;
    margin-top: 1px;
  }
  /* iphone6 landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 24px;
  }
  /* iphone6 plus(+) landscape */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    font-size: 24px;
  }
}

input.input-password {
  width: 100%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color-white;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color-white 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  font-size: 35px;
  color: darken($color-white, 50%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color-white;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
  @include respond-to(xs) {
    font-size: 20px;
  }
  // iphone5 landscape
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 16px;
    margin-top: -10px;
  }
  /* iphone5 portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 18px;
    margin-top: 1px;
  }
  /* iphone6 landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 24px;
    margin-top: -30px;
  }
  /* iphone6 plus(+) landscape */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    font-size: 24px;
    margin-top: -10px;
  }
  /* iPad Landscape */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-top: 10px;
  }
}



.container-side {
  margin-left: 280px !important;
  margin-right: 300px !important;
}

.sidebar-box {
  height: 100%;
  width: 100%;
  background-color: $primary-color;
  color: $color-white;
}

.fp-logo {
  height: 40px;
  width: 45px;
  margin-top: -10px;
}

.login-form-group {

  @include respond-to(xs) {

  }
  /* iphone6 landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    margin-top: -125px;
  }
  /* iphone6 plus(+) landscape */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    margin-top: -130px;
  }
  /* iPad Landscape */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-top: -20px;
  }
}

.form-email-grp {
  @include respond-to(xs) {

  }
  // iphone5 landscape
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    margin-top: -130px;
  }
}

.fp-logo-login {
  height: 200px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: -50px;
  @include respond-to(xs) {

  }
  /* iphone5 landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: 30px;
    width: 40px;
    margin-top: -10px;
    margin-left: 195px;
    margin-bottom: 0px;
  }
  /* iphone5 portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    height: 70px;
    width: 80px;
    margin-top: -10px;
    /* margin-bottom: -100px; */
    margin-left: 20px;
  }
  /* iphone6 portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-top: 10px;
    margin-bottom: -30px;
  }
  /* iphone6 landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: 45px;
    width: 55px;
    margin-top: -40px;
    margin-bottom: -55px;
    margin-left: 300px;
  }
  /* iphone6 plus(+) portrait */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    margin-top: 30px;
    margin-left: 30px;
  }
  /* iphone6 plus(+) landscape */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    height: 50px;
    width: 60px;
    margin-top: -10px;
    margin-left: 330px;
    margin-bottom: -10px;
  }
  /* iPad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-top: 40px;
  }
  /* iPad Landscape */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    height: 100px;
    width: 110px;
    margin-top: 10px;
    margin-left: 100px;
  }
}

.fp-logo-sidebar {
  height: 40px;
  width: 45px;
  margin-top: -10px;
  margin-left: 300px;
}

.login-txt-username {
  font-size: 18px;
  @include respond-to(xs){

  }
  // iphone5 landscape
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 11px;
    margin-bottom: 7px;
  }
  /* iphone5 portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 12px;
  }
  /* iphone6 landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 14px;
    margin-bottom: -5px;
  }
  /* iphone6 plus(+) landscape */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    font-size: 14px;
  }
}

footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $primary-color !important;
  @include respond-to(xs) {
    position: absolute;
    bottom: 0;
  }
  // iphone5 landscape
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    height: 50px;
  }
  /* iphone6 portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  }
  /* iphone6 landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  }
  /* iphone6 plus(+) landscape */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

  }
}

.container {
  width: auto;
  max-width: 1200px;
  padding: 0 15px;
}

#content-wrapper{
  height: 800px;
  overflow: auto;
}

.text-muted {
  margin: 15px !important;
  text-align: center !important;
  color: $color-white !important;
  @include respond-to(xs) {
    font-size: 12px;
  }
  // iphone5 landscape
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    margin: 15px !important;
  }


}

#menu-toggle-btn {
  color: $secondary-color;
  border-color: $secondary-color;
}

.navbar-header #menu-toggle-btn:hover {
  background-color: $primary-color !important;
  border-color: $secondary-color !important;
  color: $secondary-color !important;
}

.thank-you-text {
  font-size: 60px;
  padding-bottom: 30px;
  margin-top: 170px;
  @include respond-to(xs) {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 30px;
  }
  /* Landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 28px;
  }
}

.thank-you-msg {
  font-size: 20px;
  padding-bottom: 50px;
  @include respond-to(xs) {
    padding-bottom: 1px;
  }
  /* iphone5 Landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 0px;
  }
  /* iphone5 portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 16px;
  }
}

div.thank-div {
  @include respond-to(xs) {
    margin-top: 70px;
  }
  /* iphone6 Portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-top: 100px;
  }
  /* iphone6 Landscape */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    margin-top: 20px;
  }
  /* iphone5 Landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    margin-top: 15px;
  }
  /* iphone6 plus(+) Portrait */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    margin-top: 150px;
  }
  /* iphone6 plus(+) Landscape */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    margin-top: 30px;
  }
}

.return-home-btn {
  height: 60px;
  width: 240px;
  background-color: #959f16;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
  @include respond-to(xs) {
    height: 40px;
  }
}




// Start Login Style
  .login-box
  {
    background-color: $primary-color;
    border-radius: 10px;
    margin-top: 35px;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .login-button
  {
    margin-top: 60px;
    width: 100%;
    height: 50px;
    background-color: $secondary-color;
    border: 1px solid $color-black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    @include respond-to(xs) {

    }
    // iphone5 landscape
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      margin-top: -10px;
      width: 100%;
      height: 30px;
      font-size: 14px;
    }
    /* iphone5 portrait */
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      margin-top: 20px;
      height: 40px;
      font-size: 16px;
    }
    /* iphone6 portrait */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      margin-top: 30px;
    }
    /* iphone6 landscape */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      margin-top: 0px;
      height: 30px;
      font-size: 14px;
    }
    /* iphone6 plus(+) landscape */
    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      margin-top: 0px;
      height: 30px;
      font-size: 14px;
    }
    /* iPad Landscape */
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
      margin-top: 25px;
    }
  }

  .register-link {
    color: $color-white;
  }

  .login-noacct-txt {
    color: $secondary-color !important;
    margin-top: 40px;
    @include respond-to(xs) {

    }
    // iphone5 landscape
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      margin-top: -13px !important;
      font-size: 12px;
    }
    /* iphone5 portrait */
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      margin-top: 30px;
    }
    /* iphone6 portrait */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      margin-top: 45px;
    }
    /* iphone6 landscape */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      margin-top: -10px;
    }
    /* iphone6 plus(+) landscape */
    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      margin-top: -10px;
    }
    /* iPad Portrait */
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 1) {
      margin-top: 50px;
    }
    /* iPad Landscape */
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
      margin-top: 40px;
    }
  }

  button:hover
  {
    background-color: $color-white !important;
    color: $secondary-color !important;
  }


// End Login Style



















// Start shapes
  .circle {
    border-radius: 50% !important;
  }
// End shapes

// Start border
  .node-with-border {
    border: 1px solid #c7c7c7;
  }

  .node-with-border-black {
    border: 1px solid #000000;
  }

  .border-sharp {
    border-radius: 0px 0px 0px 0px !important;
  }
// End border

// Start Font
  .font-white {
    color: $color-white !important;
  }

  .font-black {
    color: $color-black !important;
  }

  .font-green {
    color: $secondary-color !important;
  }
// End Font

// Start Background
  .bg-color-primary {
    background-color: $primary-color !important;
  }

  .bg-color-green {
    background-color: $secondary-color !important;
  }
// End Background

//BEGIN ALIGNMENTS
  .t-align-right {
      text-align: right !important;
  }

  .t-align-left {
      text-align: left !important;
  }

  .t-align-center {
      text-align: center !important;
  }

  .d-align-left {
      justify-content: flex-start !important;
  }

  .d-align-right {
      justify-content: flex-end !important;
  }

  .d-align-center {
      justify-content: center !important;
  }

  .atdiv {
      align-items: flex-start !important;
  }

  .amdiv {
      align-items: center !important;
  }

  .abdiv {
      align-items: flex-end !important;
  }
//END ALIGNMENTS

// Start Display
  .node-inline-flex {
      display: inline-flex !important;
  }

  .node-flex {
    display: flex !important;
  }

// End Display



// Start Font in px
@for $i from 1 through 50 {
        .font-#{$i} {
            font-size: #{$i}px !important;
        }
    }
// End Font in px

// Start Width in %
@for $i from 1 through 125 {
        .width-#{$i} {
            width: #{$i}% !important;
        }
    }
// End Width in %

// Start Height in %
@for $i from 1 through 125 {
        .height-#{$i} {
            height: #{$i}% !important;
        }
    }
// End Height in %

// Start Width in px
@for $i from 1 through 300 {
        .width-#{$i}px {
            width: #{$i}px !important;
        }
    }
// End Width in px

// Start Height in px
@for $i from 1 through 1000 {
        .height-#{$i}px {
            height: #{$i}px !important;
        }
    }
// End Height in px

// Start Margin in px
@for $i from 1 through 1000 {
        .margin-#{$i}px {
            margin: #{$i}px !important;
        }
    }
// End Margin in px

// Start Margin Left in px
@for $i from 1 through 100 {
        .margin-left-#{$i} {
            margin-left: #{$i}px !important;
        }
    }
// End Margin Left in px

// Start Margin Right in px
@for $i from 1 through 100 {
        .margin-right-#{$i} {
            margin-right: #{$i}px !important;
      }
   }
// End Margin Right in px

// Start Margin Top in px
@for $i from 1 through 100 {
        .margin-top-#{$i}px {
            margin-top: #{$i}px !important;
      }
   }
// End Margin Top in px

// Start Margin Bottom in px
@for $i from 1 through 100 {
        .margin-bottom-#{$i}px {
            margin-bottom: #{$i}px !important;
      }
   }
// End Margin Bottom in px

// Start Padding in px
@for $i from 1 through 100 {
        .padding-#{$i}px {
            padding: #{$i}px !important;
        }
    }
// End Padding in px

// Start Padding bottom in px
@for $i from 1 through 100 {
        .padding-bottom#{$i}px {
            padding: #{$i}px !important;
        }
    }
// End Padding bottom in px






/* iPhones */

/* iphone5 landscape */
// @media only screen
// and (min-device-width : 320px)
// and (max-device-width : 568px)
// and (orientation : landscape) {
//     .thank-you-text {
//       font-size: 40px !important;
//       padding-bottom: 5px !important;
//     }
//
//     .thank-you-msg {
//       font-size: 16px !important;
//       padding-bottom: 0px !important;
//     }
//
//     .return-home-btn {
//       font-size: 16px;
//       width: 180px;
//       height: 40px;
//     }
//
// }
//
// /* iphone5 portrait */
//  @media only screen
//    and (min-device-width: 320px)
//    and (max-device-width: 568px)
//    and (-webkit-min-device-pixel-ratio: 2)
//    and (orientation: portrait) {
//      .thank-you-text {
//        font-size: 30px !important;
//        padding-bottom: 5px !important;
//      }
//
//      .thank-you-msg {
//        font-size: 14px !important;
//        padding-bottom: 0px !important;
//      }
//      .return-home-btn {
//        font-size: 16px;
//        width: 180px;
//        height: 40px;
//      }
//
//      .form-box {
//        margin-top: -30px;
//        margin-bottom: -25px;
//        height: 375px;
//      }
//
//      .fp-logo-login {
//        height: 80px;
//        width: 90px;
//        margin-top: 5px;
//        margin-bottom: -50px;
//        margin-left: 20px;
//      }
//
//      .form-email-grp {
//        margin-top: -25px;
//      }
//
//      .login-txt-username {
//        font-size: 12px;
//        margin-bottom: 10px;
//      }
//
//      input#change-input-username {
//        font-size: 17px;
//      }
//
//      input#change-input-password {
//        margin-top: -10px;
//        font-size: 17px;
//      }
//
//      .login-button {
//        margin-top: 10px;
//        height: 30px;
//      }
//
//      .login-noacct-txt {
//        margin-top: 10px !important;
//      }
//
//  }
//
// /* iphone6 landscape */
// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-width: 667px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {
//     #mobile-menu {
//         float: left !important;
//         margin-left: 10px;
//     }
//
//     .fp-logo-sidebar {
//       margin-left: 10px !important;
//     }
//
//     .row.content {
//       height: auto !important;
//       width: auto !important;
//     }
//
//     #change-size {
//       height: 230px !important;
//     }
//
//     .thank-you-text {
//       margin-top: 20px !important;
//       font-size: 38px !important;
//       padding-bottom: 10px;
//     }
//
//     .thank-you-msg {
//       font-size: 16px !important;
//       padding-bottom: 0px !important;
//     }
//
//     .return-home-btn {
//       height: 40px !important;
//       font-size: 16px !important;
//     }
//
//     .form-box {
//       margin-top: -52px;
//       margin-bottom: -25px;
//       margin-left: 65px;
//       width: 500px;
//       height: 222px;
//     }
//
//     .fp-logo-login {
//       height: 50px;
//       width: 60px;
//       margin-left: 70px;
//       margin-top: -64px;
//     }
//
//     .form-email-grp {
//       margin-top: -90px;
//     }
//
//     .login-txt-username {
//       font-size: 11px;
//       margin-bottom: 10px;
//     }
//
//     input#change-input-username {
//       font-size: 14px;
//     }
//
//     input#change-input-password {
//       margin-top: -10px;
//       font-size: 14px;
//     }
//
//     .login-button {
//       font-size: 12px;
//       margin-top: -10px;
//       height: 30px;
//     }
//
//     .login-noacct-txt {
//       text-align: center;
//       margin-top: -15px !important;
//       margin-bottom: -20px;
//       font-size: 12px;
//     }
//
//     .footer {
//       position: absolute;
//       bottom: 0;
//     }
//
// }
//
// /* iphone6 portrait */
// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-width: 667px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//
//     #mobile-menu {
//         float: left !important;
//         margin-left: 10px;
//     }
//
//     #change-size {
//       height: 530px !important;
//     }
//
//     .thank-you-text {
//       margin-top: 150px !important;
//       font-size: 40px !important;
//       padding-bottom: 10px;
//     }
//
//     .thank-you-msg {
//       font-size: 16px !important;
//       padding-bottom: 0px !important;
//     }
//
//     .form-box {
//       margin-top: -20px;
//       margin-bottom: -10px;
//       height: 450px;
//     }
//
//     .fp-logo-login {
//       height: 100px;
//       width: 110px;
//       margin-left: 30px;
//       margin-top: 10px;
//     }
//
//     .login-txt-username {
//       font-size: 14px;
//     }
//
//     input#change-input-username {
//       font-size: 20px;
//     }
//
//     input#change-input-password {
//       margin-top: -1px;
//       font-size: 20px;
//     }
//
//     .form-no-acct-grp {
//       width: 100%;
//       text-align: center !important;
//     }
//
//     .login-button {
//       font-size: 16px;
//       margin-top: 20px;
//     }
//
//     .login-noacct-txt {
//       margin-top: -1px !important;
//       margin-bottom: -20px;
//     }
// }
//
// /* iphone6 plus(+) landscape */
// @media only screen
//     and (min-device-width : 414px)
//     and (max-device-width : 736px)
//     and (orientation : landscape)
//     and (-webkit-min-device-pixel-ratio : 3)
// {
//
//   #mobile-menu {
//       float: left !important;
//       margin-left: 10px;
//   }
//
//   .fp-logo-sidebar {
//     margin-left: 10px !important;
//   }
//   .row.content {
//     height: auto !important;
//     width: auto !important;
//   }
//
//   .form-box {
//     margin-top: -45px !important;
//     margin-bottom: -40px !important;
//     padding: 15px 25px 5px 25px;
//     width: 500px;
//     height: 250px;
//     margin: auto;
//   }
//
//   .fp-logo-div {
//     margin-top: -5px;
//   }
//
//   .fp-logo-login {
//     height: 50px;
//     width: 60px;
//     margin-top: -22px;
//     margin-left: 70px;
//   }
//
//   .form-email-grp {
//     margin-top: -60px;
//   }
//
//   .login-txt-username {
//     font-size: 12px;
//     margin-bottom: 9px;
//   }
//
//   input#change-input-username {
//     font-size: 16px;
//   }
//
//   input#change-input-password {
//     font-size: 16px;
//     margin-top: -40px;
//   }
//
//   .login-button {
//     margin-top: -5px;
//     font-size: 14px;
//     height: 30px;
//   }
//
//   .login-noacct-txt {
//     margin-top: -8px !important;
//     font-size: 12px;
//   }
//
//   .footer {
//     position: absolute !important;
//     bottom: 0 !important;
//   }
// }
//
// /* iphone6 plus Portrait */
// @media only screen
//   and (min-device-width: 414px)
//   and (max-device-width: 736px)
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) {
//
//     .form-box {
//       height: 520px;
//     }
//
//     .footer {
//       position: absolute !important;
//       bottom: 0 !important;
//     }
//
//     .fp-logo-div {
//     margin-bottom: 130px;
//     }
//
//     .fp-logo-login {
//       margin-top: 20px;
//       margin-bottom: -80px;
//     }
//
//     .login-noacct-txt {
//       margin-top: 30px !important;
//     }
// }
//
// /* Nexus Tablet */
// /* Portrait and Landscape */
// @media screen
//   and (device-width: 601px)
//   and (device-height: 906px)
//   and (-webkit-min-device-pixel-ratio: 1.331)
//   and (-webkit-max-device-pixel-ratio: 1.332) {
//
//     #mobile-menu {
//         float: left !important;
//         margin-left: 10px;
//     }
//
//     .navbar .container {
//         margin: 15px !important;
//     }
//
//     .row.content {
//       height: auto !important;
//       width: auto !important;
//     }
//
//     .thank-you-text {
//       font-size: 50px !important;
//       padding-bottom: 10px !important;
//     }
//
//     .thank-you-msg {
//       font-size: 18px !important;
//       padding-bottom: 20px !important;
//     }
//
//     .container-side {
//       margin-left: 0px !important;
//       margin-right: 0px !important;
//     }
// }
//
// /* Nexus 7 portrait */
// @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px)
// and (min-device-width: 375px) and (orientation: portrait)
//  {
//     .thank-you-text {
//       font-size: 50px !important;
//       padding-bottom: 10px !important;
//     }
//
//     .thank-you-msg {
//       font-size: 18px !important;
//       padding-bottom: 20px !important;
//     }
//
//     .container-side {
//       margin-left: 0px !important;
//       margin-right: 0px !important;
//     }
// }
//
// /* Nexus Landscape */
// @media screen and (device-width: 600px) and (device-height: 905px)
// and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332)
// and (orientation: landscape)
// {
//   #change-size {
//     height: 445px !important;
//   }
// }
//
//
//
// /* Portrait */
// @media only screen and (max-width : 603px) and (orientation: portrait) {
//     #mobile-menu {
//         float: left !important;
//         margin-left: 10px !important;
//     }
//
//     .row.content {
//       height: auto !important;
//       width: auto !important;
//     }
//
//     .container-side {
//       margin-left: 0px !important;
//       margin-right: 0px !important;
//     }
// }
//
//
// /* ipad portrait */
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: portrait)
//   and (-webkit-min-device-pixel-ratio: 1) {
//     .fp-logo-sidebar {
//       margin-left: 10px !important;
//     }
//
//     .row.content {
//       height: auto !important;
//       width: auto !important;
//     }
//
//     .container-side {
//       margin-left: 40px !important;
//       margin-right: 40px !important;
//     }
//
//     .form-box {
//       width: 500px;
//     	margin-left: -90px;
//     }
//
//     .fp-logo-login {
//       height: 175px;
// 		  margin-top: 50px;
//     }
//
//     .login-noacct-txt {
//       margin-top: 50px !important;
//     }
//
//     input#change-input-username {
//       font-size: 30px !important;
//     }
//
//     input#change-input-password {
//       font-size: 30px !important;
//     }
//
//     .login-txt-username {
//     font-size: 16px;
//     }
// }
//
// /* ipad landscape */
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px)
//   and (orientation: landscape)
//   and (-webkit-min-device-pixel-ratio: 1) {
//     .fp-logo-sidebar {
//       margin-left: 10px !important;
//     }
//
//     .row.content {
//       height: auto !important;
//       width: auto !important;
//     }
//
//     .container-side {
//       margin-left: 30px !important;
//       margin-right: 30px !important;
//     }
//
//     .form-box {
//       width: 530px;
//       margin-left: -60px;
//     }
//
//     .fp-logo-login {
//       height: 175px !important;
// 		  margin-top: 50px;
//     }
//
//     .login-noacct-txt {
//       margin-top: 50px !important;
//     }
//
//     input#change-input-username {
//       font-size: 30px !important;
//     }
//
//     input#change-input-password {
//       font-size: 30px !important;
//     }
//
//     .login-txt-username {
//     font-size: 16px;
//     }
// }
