* {
  margin: 0;
  padding: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #343434 !important;
  color: #ffffff !important; }

html, body {
  height: 100%; }

form {
  margin-top: 50px; }

div.form-group-parent {
  margin-top: 50px; }

.team-bio-txt {
  font-size: 20px;
  margin-left: -375px; }
  @media screen and (max-width: 767px) {
    .team-bio-txt {
      font-size: 16px;
      margin-left: -260px; } }

.team-awards-txt {
  font-size: 20px;
  margin-left: -390px; }
  @media screen and (max-width: 767px) {
    .team-awards-txt {
      font-size: 16px;
      margin-left: -270px; } }

.reg-teamname-text {
  margin-left: 55px; }

.reg-type-text {
  margin-left: 55px;
  margin-bottom: 15px; }

.reg-completename-text {
  margin-left: 55px; }

@media screen and (max-width: 767px) {
  .registeraccount-text {
    font-size: 30px; } }

button.reg-button {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 50%;
  height: 50px;
  background-color: #BADA55;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold; }
  @media screen and (max-width: 767px) {
    button.reg-button {
      margin-top: 20px;
      margin-bottom: 20px; } }

button.reg-button:hover {
  background-color: #ffffff !important;
  color: #BADA55 !important; }

button.reg-button a {
  color: #ffffff !important;
  text-decoration: none; }

form.form-horizontal {
  margin-top: -5px; }

ul.form-road-map {
  font-size: 18px;
  list-style: none;
  border: none;
  display: inline-flex; }

div.camera-circle {
  margin: auto;
  height: 250px;
  width: 250px;
  background-color: #959f16;
  border-radius: 50%;
  margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    div.camera-circle {
      height: 150px;
      width: 150px;
      margin-top: 20px;
      margin-bottom: 20px; } }

.reg-camera-icon {
  font-size: 50px !important;
  margin-top: 100px; }
  @media screen and (max-width: 767px) {
    .reg-camera-icon {
      font-size: 40px !important;
      margin-top: 60px; } }

.upload-teamlogo-txt {
  font-size: 20px;
  font-weight: normal; }

.form-roadmap-1 {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 0px !important;
  color: #ffffff !important; }

.form-roadmap-1:hover {
  background-color: transparent !important; }

.form-roadmap-2 {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 0px !important;
  color: #ffffff !important; }

.form-roadmap-2:hover {
  background-color: transparent !important; }

input.team-name {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 25px;
  color: gray; }
  input.team-name:focus, input.team-name:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input.team-name:focus::-webkit-input-placeholder, input.team-name:valid::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
  @media screen and (max-width: 767px) {
    input.team-name {
      font-size: 20px; } }

select.type {
  width: 80%;
  border: none;
  padding: 0px 0px;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  margin-left: 55px;
  font-size: 20px;
  color: gray; }
  select.type:focus, select.type:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    select.type:focus::-webkit-input-placeholder, select.type:valid::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
  @media screen and (max-width: 767px) {
    select.type {
      font-size: 20px; } }

input.input-reg-completename {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 25px;
  color: gray; }
  input.input-reg-completename:focus, input.input-reg-completename:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input.input-reg-completename:focus::-webkit-input-placeholder, input.input-reg-completename:valid::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
  @media screen and (max-width: 767px) {
    input.input-reg-completename {
      font-size: 20px; } }

input.input-reg-email {
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 24px;
  font-style: italic;
  color: gray; }
  @media screen and (max-width: 767px) {
    input.input-reg-email {
      font-size: 20px; } }

input.input-reg-hqaddress {
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 24px;
  font-style: italic;
  color: gray; }
  @media screen and (max-width: 767px) {
    input.input-reg-hqaddress {
      font-size: 20px; } }

input.input-reg-mobilenumber {
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 24px;
  font-style: italic;
  color: gray; }
  @media screen and (max-width: 767px) {
    input.input-reg-mobilenumber {
      font-size: 20px; } }

input.input-reg-teambio {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  margin-top: -10px;
  font-size: 25px;
  color: gray; }
  input.input-reg-teambio:focus, input.input-reg-teambio:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input.input-reg-teambio:focus::-webkit-input-placeholder, input.input-reg-teambio:valid::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
  @media screen and (max-width: 767px) {
    input.input-reg-teambio {
      font-size: 20px; } }

input.input-reg-teamawards {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  margin-top: -10px;
  font-size: 25px;
  color: gray; }
  input.input-reg-teamawards:focus, input.input-reg-teamawards:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input.input-reg-teamawards:focus::-webkit-input-placeholder, input.input-reg-teamawards:valid::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
  @media screen and (max-width: 767px) {
    input.input-reg-teamawards {
      font-size: 20px; } }

/*# sourceMappingURL=register-account.css.map */
