* {
  margin: 0;
  padding: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #343434 !important;
  color: #ffffff !important; }

html, body {
  height: 100%; }

form {
  margin-top: 50px; }

div.form-group-parent {
  margin-top: 70px;
  /* iphone5 Portrait */ }
  @media screen and (max-width: 767px) {
    div.form-group-parent {
      margin-top: 20px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    div.form-group-parent {
      margin-top: 10px; } }

div.second-form {
  margin-top: 40px; }
  @media screen and (max-width: 767px) {
    div.second-form {
      margin-top: 10px; } }

.team-bio-txt {
  font-size: 20px;
  margin-left: -375px;
  /* iphone6 Portrait */
  /* iphone6 plus(+) Portrait */
  /* iphone5 Portrait */
  /* ipad Portrait */ }
  @media screen and (max-width: 767px) {
    .team-bio-txt {
      font-size: 16px;
      margin-left: -190px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .team-bio-txt {
      margin-left: -230px; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .team-bio-txt {
      margin-left: -250px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .team-bio-txt {
      font-size: 12px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .team-bio-txt {
      margin-left: -210px; } }

.team-awards-txt {
  font-size: 20px;
  margin-left: -390px;
  /* iphone6 Portrait */
  /* iphone6 plus(+) Portrait */
  /* iphone5 Portrait */
  /* ipad Portrait */ }
  @media screen and (max-width: 767px) {
    .team-awards-txt {
      font-size: 16px;
      margin-left: -200px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .team-awards-txt {
      margin-left: -240px; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .team-awards-txt {
      margin-left: -260px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .team-awards-txt {
      font-size: 12px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .team-awards-txt {
      margin-left: -220px; } }

.reg-teamname-text {
  margin-left: 55px;
  /* Portrait */
  /* iphone5 Portrait */
  /* ipad Portrait */ }
  @media screen and (max-width: 767px) {
    .reg-teamname-text {
      margin-left: 45px; } }
  @media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {
    .reg-teamname-text {
      margin-left: 60px !important; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .reg-teamname-text {
      font-size: 12px;
      margin-bottom: 0px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .reg-teamname-text {
      margin-left: 40px; } }

.reg-type-text {
  margin-left: 55px;
  margin-bottom: 15px;
  /* ipad Portrait */
  /* iphone5 Portrait */ }
  @media screen and (max-width: 767px) {
    .reg-type-text {
      margin-left: 45px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .reg-type-text {
      margin-left: 40px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .reg-type-text {
      font-size: 12px;
      margin-bottom: 0px; } }

.reg-completename-text {
  margin-left: 55px;
  /* ipad Portrait */ }
  @media screen and (max-width: 767px) {
    .reg-completename-text {
      margin-left: 45px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .reg-completename-text {
      margin-left: 40px; } }

.registeraccount-text {
  /* iphone6 Portrait */
  /* iphone5 Portrait */ }
  @media screen and (max-width: 767px) {
    .registeraccount-text {
      font-size: 30px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .registeraccount-text {
      font-size: 28px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .registeraccount-text {
      font-size: 22px; } }

button.reg-button {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 50%;
  height: 50px;
  background-color: #BADA55;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  /* Portrait */ }
  @media screen and (max-width: 767px) {
    button.reg-button {
      height: 30px;
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: -10px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    button.reg-button {
      margin-bottom: 0px; } }

button.reg-button:hover {
  background-color: #ffffff !important;
  color: #BADA55 !important; }

button.reg-button a {
  color: #ffffff !important;
  text-decoration: none; }

div.setup {
  /* Portrait */ }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    div.setup {
      margin-top: -15px; } }

form.form-horizontal {
  margin-top: 40px;
  /* ipad Portrait */
  /* iphone5 Portrait */
  /* iphone6 Portrait */
  /* iphone6 plus(+) Portrait */ }
  @media screen and (max-width: 767px) {
    form.form-horizontal {
      margin-top: -30px; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    form.form-horizontal {
      margin-top: 50px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    form.form-horizontal {
      margin-top: -30px; } }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    form.form-horizontal {
      margin-top: 50px; } }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    form.form-horizontal {
      margin-top: 60px; } }

ul.form-road-map {
  font-size: 18px;
  list-style: none;
  border: none;
  display: inline-flex; }
  @media screen and (max-width: 767px) {
    ul.form-road-map {
      font-size: 15px; } }

.reg-camera-icon {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #959f16;
  padding: 50px;
  font-size: 50px !important;
  color: #ffffff; }
  @media screen and (max-width: 767px) {
    .reg-camera-icon {
      font-size: 40px !important; } }

.upload-teamlogo-txt {
  font-size: 20px;
  font-weight: normal; }

.form-roadmap-1 {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 0px !important;
  color: #ffffff !important; }

.form-roadmap-1:hover {
  background-color: transparent !important; }

.form-roadmap-2 {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 0px !important;
  color: #ffffff !important; }

.form-roadmap-2:hover {
  background-color: transparent !important; }

input.team-name {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 25px;
  color: gray; }
  input.team-name:focus, input.team-name:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input.team-name:focus::-webkit-input-placeholder, input.team-name:valid::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
  @media screen and (max-width: 767px) {
    input.team-name {
      font-size: 18px; } }

select.type {
  margin: auto;
  width: 80%;
  border: none;
  border-radius: 0px;
  padding: 0px 0px;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 20px;
  color: gray; }
  select.type:focus, select.type:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    select.type:focus::-webkit-input-placeholder, select.type:valid::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
  @media screen and (max-width: 767px) {
    select.type {
      font-size: 18px; } }

input.input-reg-completename {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 25px;
  color: gray; }
  input.input-reg-completename:focus, input.input-reg-completename:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0; }
    input.input-reg-completename:focus::-webkit-input-placeholder, input.input-reg-completename:valid::-webkit-input-placeholder {
      color: #ffffff;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important; }
  @media screen and (max-width: 767px) {
    input.input-reg-completename {
      font-size: 18px; } }

input.input-reg-email {
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 24px;
  font-style: italic;
  color: gray;
  /* iphone5 Portrait */ }
  @media screen and (max-width: 767px) {
    input.input-reg-email {
      font-size: 18px; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    input.input-reg-email {
      font-size: 16px;
      margin-bottom: -10px; } }

/*# sourceMappingURL=register-account.css.map */
