@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
            @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width: 1025px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) and (max-width: 1399px) {
            @content;
        }
    }
    @else if $breakpoint == "xlg" {
        @media (min-width: 1400px) and (max-width: 1599px) {
            @content;
        }
    }
    @else if $breakpoint == "xxlg" {
        @media (min-width: 1600px) and (max-width: 1899px) {
            @content;
        }
    }
    @else if $breakpoint == "xxxlg" {
        @media (min-width: 1900px) {
            @content;
        }
    }
}

$primary-color: #121212; // dark grey
$secondary-color: #BADA55; // light green
$third-color: #343434; //light grey
$body-color: #E7E7E7;
$color-white: #ffffff;
$color-black: #000000;
$color-expired: #c30c15;
$color-dgreen: #959f16;
$button-bordercolor: #8BC34A;


* {
margin: 0;
padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body
{
  background-color: $third-color !important;
  color: $color-white !important;
}

html, body {
  height: 100%;
}

form {
  margin-top: 50px;
}

div.form-group-parent {
  margin-top: 70px;
  @include respond-to(xs) {
    margin-top: 20px;
  }
  /* iphone5 Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-top: 10px;
  }
}

div.second-form {
  margin-top: 40px;
  @include respond-to(xs) {
    margin-top: 10px;
  }
}

.team-bio-txt {
  font-size: 20px;
  margin-left: -375px;
  @include respond-to(xs) {
    font-size: 16px;
    margin-left: -190px;
  }
  /* iphone6 Portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-left: -230px;
  }
  /* iphone6 plus(+) Portrait */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    margin-left: -250px;
  }
  /* iphone5 Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 12px;
  }
  /* ipad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-left: -210px;
  }
}

.team-awards-txt {
  font-size: 20px;
  margin-left: -390px;
  @include respond-to(xs) {
    font-size: 16px;
    margin-left: -200px;
  }
  /* iphone6 Portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-left: -240px;
  }
  /* iphone6 plus(+) Portrait */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    margin-left: -260px;
  }
  /* iphone5 Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 12px;
  }
  /* ipad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-left: -220px;
  }
}

.reg-teamname-text {
  margin-left: 55px;
  @include respond-to(xs) {
    margin-left: 45px;
  }
  /* Portrait */
  @media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332)
  and (orientation: portrait) {
    margin-left: 60px !important;
  }
  /* iphone5 Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 12px;
    margin-bottom: 0px;
  }
  /* ipad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-left: 40px;
  }
}

.reg-type-text {
  margin-left: 55px;
  margin-bottom: 15px;
  @include respond-to(xs) {
    margin-left: 45px;
  }
  /* ipad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-left: 40px;
  }
  /* iphone5 Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.reg-completename-text {
  margin-left: 55px;
  @include respond-to(xs) {
    margin-left: 45px;
  }
  /* ipad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-left: 40px;
  }

}

.registeraccount-text {
  @include respond-to(xs) {
    font-size: 30px;
  }
  /* iphone6 Portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 28px;
  }
  /* iphone5 Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 22px;
  }

}






button.reg-button {
  margin-top: 60px;
  margin-bottom: 40px;
  width: 50%;
  height: 50px;
  background-color: $secondary-color;
  border: 1px solid $color-black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  @include respond-to(xs) {
    height: 30px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: -10px;
  }
  /* Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-bottom: 0px;
  }
}

button.reg-button:hover {
  background-color: $color-white !important;
  color: $secondary-color !important;
}

button.reg-button a {
  color: $color-white !important;
  text-decoration: none;
}

div.setup {

  /* Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-top: -15px;
  }
}

form.form-horizontal {
  margin-top: 40px;
  @include respond-to(xs) {
    margin-top: -30px;
  }

  /* ipad Portrait */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    margin-top: 50px;
  }
  /* iphone5 Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-top: -30px;
  }
  /* iphone6 Portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    margin-top: 50px;
  }
  /* iphone6 plus(+) Portrait */
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    margin-top: 60px;
  }
}

ul.form-road-map {
  font-size: 18px;
  list-style: none;
  border: none;
  display: inline-flex;
  @include respond-to(xs) {
    font-size: 15px;
  }
}

.reg-camera-icon {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: $color-dgreen;
  padding: 50px;
  font-size: 50px !important;
  color: $color-white;
  @include respond-to(xs) {
    font-size: 40px !important;
  }
}

.upload-teamlogo-txt {
  font-size: 20px;
  font-weight: normal;
}


.form-roadmap-1 {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 0px !important;
	color: #ffffff !important;
}

.form-roadmap-1:hover {
  background-color: transparent !important;
}


.form-roadmap-2 {
  background-color: transparent !important;
  border: none !important;
  padding: 0px 0px !important;
  color: #ffffff !important;
}

.form-roadmap-2:hover {
  background-color: transparent !important;
}



input.team-name {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color-white;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color-white 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 25px;
  color: darken($color-white, 50%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color-white;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
  @include respond-to(xs) {
    font-size: 18px;
  }

}

select.type {
  margin: auto;
  width: 80%;
  border: none;
  border-radius: 0px;
  padding: 0px 0px;
  border-bottom: solid 1px $color-white;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color-white 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 20px;
  color: darken($color-white, 50%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color-white;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
  @include respond-to(xs) {
    font-size: 18px;
  }
}

input.input-reg-completename {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color-white;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color-white 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 25px;
  color: darken($color-white, 50%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color-white;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
  @include respond-to(xs) {
    font-size: 18px;
  }
}

input.input-reg-email {
  width: 80%;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color-white;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color-white 4%);
  background-position: -200px 0;
  background-size: 0px 100%;
  background-repeat: no-repeat;
  font-size: 24px;
  font-style: italic;
  color: darken($color-white, 50%);
  @include respond-to(xs) {
    font-size: 18px;
  }
  /* iphone5 Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 16px;
    margin-bottom: -10px;
  }
}
